$icon-size: 55px;
$dark-overlay: rgba(0, 0, 0, 0.4);
$hz-background: #f1ecc1;
$hz-link: #fc9407;
$hz-active: #a51915;
$hz-hover: #a51915;

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;

body {
  background-color: white;
  font-family: 'Istok Web', 'Merriweather', serif;
  //font-family: 'merriweather', 'Merriweather', serif;
  font-style: normal;
  font-weight: 400;
}

.fa {
  font-size: $icon-size;
}

.dark-overlay {
  position: absolute;
  background-color: $dark-overlay;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.head {
  font-weight: bold;
}

/** NAVIGATION BAR SECTION */
#mainNavbar {
  background: $hz-background;

  .navbar {
    a {
      white-space: nowrap;
    }

    button.navbar-toggler:focus {
      outline: 1px solid #a51915;
    }
  }
  /* change the link color */
  .navbar-nav .nav-link {
    color: $hz-link;
    transition: 0.2S;
  }
  /* change the color of active or hovered links */
  .nav-item.active .nav-link {
    color: $hz-active;
  }

  .nav-item:hover .nav-link {
    color: $hz-hover;
    transition: 0.2s;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(252, 148, 7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}

/** SHOWCASE SECTION */
#showcase {

  .carousel-item {
    //height: 480px;
  }

  img {
    background-size: cover;
  }

  .carousel-caption {
    background: rgba(0, 0, 0, 0.35);
  }
}

/* HOME SECTION */

/* TESTIMONIALS SECTION */
#testimonials-heading {
  position: relative;
  min-height: 240px;
  background: url('../img/testimonials.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}

/* CARDS SECTION */
#cards-section {

  img:hover {
    transition: 0.5s;
    transform: scale(0.95);
  }

  img {
    transition: 0.5s;
  }

  font-size: 1.1rem;

  .card-body p {
    // moet waarschijnlijk weg zodra wordpress
    max-height: 200px;
    overflow: hidden;
  }

  .card-body a {
      font-size: small;
      color: $hz-link;
      transition: 0.2s;
      text-decoration: none;
  }

  .card-body i {
    font-size: 0.8rem;
    margin-right: 0.2rem;
  }
  .card-body a:hover {
      color: $hz-hover;
      transition: 0.2s;
  }
}

@media (min-width: $breakpoint-small) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: $breakpoint-medium) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

/* TESTIMONIALS AREA */
#testimonials {
  .testimonial {

    img {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      transition: 0.5s;
    }

    img:hover {
      transition: 0.5s;
      transform: scale(0.95);
    }

    blockquote {

      .fa.fa-quote-right {
        margin-right: 10px;
        font-size: 20px;
      }

      hr {
        border-top: 1px solid $hz-active;
        background-color: $hz-active;
      }
    }
  }
}

/* FOOTER AREA */
footer {
  font-size: 0.8rem;
  color: #888;
  background-color: $hz-background;

  .follow-us {
    p {
      white-space: nowrap;
    }
    //border-bottom: 1px solid #dcdad8;
    margin-bottom: 10px;

    .fa {
      font-size: 20px;
    }

    .social-links {
      list-style: none;
      padding: 0;
    }

    .social-links li {
      float: left;
      margin: 0;
      margin-right: 5px;
    }

    .social-links li:last-child {
      margin-right: 0px;
    }

    .social-links li a:link,
    .social-links li a:visited {
      text-decoration: none;
      border: 0;
      color: #888;
      transition: 0.2s;
    }
  }

  .information {
    p {
      white-space: nowrap;
    }
    //border-bottom: 1px solid #dcdad8;
    margin-bottom: 10px;

    .fa {
      font-size: 20px;
    }

    .information-links {
      list-style: none;
      padding: 0;
    }

    .information-links li a:link,
    .information-links li a:visited {
      text-decoration: none;
      border: 0;
      color: #888;
      transition: 0.2s;
    }

    .information-links li a:hover {
      color: $hz-hover;
    }
    .information-links li.active a {
      color: $hz-active;
    }
  }

}

/** COPYRIGHT AREAY */
#copyright {
  background-color: $hz-link;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  a:link,
  a:visited {
    text-decoration: none;
    color: #888;
    border: 0;
    transition: 0.2s;
  }
  a:hover {
    color: $hz-hover;
    transition: 0.2s;
  }
}

/** SOCIAL LINKS BEHAVIOUR */
.fa-facebook-square:hover {
  color: #3b5998;
}

.fa-twitter-square:hover {
  color: #00aced;
}

.fa-linkedin-square:hover {
  color: #0077b5;
}

.fa-instagram:hover {
  color: #517fa4;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-google-plus-square,
.fa-instagram {
  transition: 0.2s;
}

.fa-chevron-circle-up {
  margin-top: 35px;
  color: rgb(14, 96, 27);
  transition: 0.2s;
}

.fa-chevron-circle-up:hover {
  color: rgba(14, 96, 27, 0.92);
  transition: 0.2s;
}

/** ANIMATIONS */
.js-wp {
  opacity: 0;
}

.js-wp.animated {
  opacity: 1;
}

/** GOOGLE MAPS */
#map {
  height: 240px;
  width: 100%;
  margin-top: -8px;
}

/** CONTACT AREA */
#contact {

  .address {
    i {
      font-size: 1rem;
      color: $hz-link;
      width:18px;
      text-align: center;
    }
    a {
      color: $hz-link;
      transition: 0.2s;
      text-decoration: none;
    }
    a:hover {
      transition: 0.2s;
      color: $hz-hover;
    }
  }

  .directions {
    i {
      font-size: 2rem;
      color: $hz-link;
      transition: 0.2s;
    }
    i:hover {
      color: $hz-hover;
      transition: 0.2s;
    }
    i.active {
      color: $hz-active;
      transition: 0.2s;
    }
    .card-header {
      background-color: $hz-background;
    }

    button {
      text-decoration: none;
      width: 100%;
    }
  }

  font-size: 1.1rem;
}

#pricing {

}

#about {
  .image {
    width: 14rem;
    border-radius: 50%;
    transition: 0.5s;
  }

  footer {
    background-color: white;
  }

  img:hover {
    transition: 0.5s;
    transform: scale(0.95);
  }

  i {
    font-size: 1.8rem;
    margin-right: 0.3rem;
  }
}


#privacy-statement {
  a {
    color: $hz-link;
    transition: 0.2s;
    text-decoration: none;
  }
  a:hover {
    transition: 0.2s;
    color: $hz-hover;
  }
}

#terms-and-conditions {

}

#pricing {
    .image {
      width: 14rem;
      border-radius: 50%;
      transition: 0.5s;
    }

    a {
    color: $hz-link;
    transition: 0.2s;
    text-decoration: none;
  }
  a:hover {
    transition: 0.2s;
    color: $hz-hover;
  }
}

#vacancies {
  .image {
    width: 14rem;
    border-radius: 50%;
    transition: 0.5s;
  }

  footer {
    background-color: white;
  }

  img:hover {
    transition: 0.5s;
    transform: scale(0.95);
  }

  i {
    font-size: 1.8rem;
    margin-right: 0.3rem;
  }

  a {
    color: $hz-link;
    transition: 0.2s;
    text-decoration: none;
  }
  a:hover {
    transition: 0.2s;
    color: $hz-hover;
  }
}

#heading {
  position: relative;
  min-height: 240px;
  background: url('../img/heading.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}


#doktersbezoek {
  #heading {
    position: relative;
    min-height: 240px;
    background: url('../img/doktersbezoek.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
  }
}

#eropuit {
  #heading {
    position: relative;
    background-position: top left;
    min-height: 240px;
    background: url('../img/eropuit.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
  }
}

#bijzondere-momenten {
  #heading {
    position: relative;
    background-position: top left;
    min-height: 240px;
    background: url('../img/bijzondere-momenten.jpg');
    //background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
  }
}

#dagindeling {
  #heading {
    position: relative;
    background-position: top left;
    min-height: 240px;
    background: url('../img/dagindeling.jpg');
    //background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
  }
}

#boodschappen-en-koken {
  #heading {
    position: relative;
    background-position: top left;
    min-height: 240px;
    background: url('../img/boodschappen-en-koken.jpg');
    //background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
  }
}

#home-icons {
  color: $hz-active;
}